.card {
  max-width: 18.75rem;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.card {
  animation: animateProject 800ms ease-in forwards;
}

@keyframes animationProject {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
